/*
 * CSS variables
 */

:root {
	--base: #000000;
	--hl: #ffc600;
}

body {
	text-align: center;
}

#container {
	height: 960px;
	width: 960px;
	margin: auto;
}

#controls {
	margin-bottom: 8px;
}

.pixel {
	height: 14px;
	width: 14px;
	background-color: var(--base);
	display: inline-block;
	margin: 0;
	float: left;
}

button {
	height: 2em;
	width: 100px;
	border: 1px black solid;
	border-radius: 10px;
	margin-bottom: 8px;
	color: white;
	font-size: 1.1em;
	background-color: blue;

}

#button {
	text-align: center;
}

#button:focus {
	outline: 0;
}