#container {
	height: 960px;
	width: 960px;
	margin: auto;
}

.pixel {
	height: 14px;
	width: 14px;
	background-color: #1E1E1E;
	display: inline-block;
	margin: 0;
	float: left;
}

button {
	height: 20px;
	width: 200px;
	border: 1px black solid;
	border-radius: 5px;
}

#button {
	text-align: center;
}